.wrapper {
  @apply w-full h-full flex;

  svg {
    @apply m-auto;
  }

  @keyframes fillFadeInOut {
    0%,
    25% {
      fill-opacity: 0;
    }
    75% {
      fill-opacity: 1;
    }
  }

  .fill-opacity-animation {
    fill-opacity: 0;
    animation-name: fillFadeInOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
  }

  @keyframes drawStroke {
    25% {
      stroke-dashoffset: 0%;
    }
    75% {
      stroke-dashoffset: 100%;
    }
  }

  .path-stroke {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: drawStroke 5s forwards infinite reverse;
  }
}
