.circle-progress {
  position: relative;

  .circle-progress-background,
  .circle-progress-progress {
    fill: none;
  }

  .circle-progress-background {
    @apply stroke-gray-300 dark:stroke-primary-300;
  }

  .circle-progress-progress {
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease-in-out;
    transform-origin: center;
    rotate: 90deg;
    @apply stroke-primary-500;
  }

  .circle-progress-text {
    @apply fill-gray-600 dark:fill-primary-300 text-3xl font-bold;
  }
}

.circle-progress {
  &.success {
    .circle-progress-progress {
      @apply stroke-green-500;
    }
  }
  &.warning {
    .circle-progress-progress {
      @apply stroke-yellow-500;
    }
  }
  &.danger {
    .circle-progress-progress {
      @apply stroke-red-500;
    }
  }
}
