.tooltip {
  @apply z-10 rounded;
  box-shadow: 0 0px 0px 1px theme("colors.gray.300");
  &-content {
    @apply bg-white rounded  p-2;
  }
  &[data-popper-placement="top"] {
    .tooltip-arrow {
      @apply left-[-9px];
      clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
    }
  }
  &[data-popper-placement="right"] {
    .tooltip-arrow {
      @apply left-[-9px];
      clip-path: polygon(0 50%, 100% 100%, 100% 0%);
    }
  }
  &[data-popper-placement="left"] {
    .tooltip-arrow {
      @apply right-[-9px];
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }
  &[data-popper-placement="bottom"] {
    .tooltip-arrow {
      @apply top-[-9px];
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
  }
  &-arrow {
    @apply p-[.25rem] bg-gray-300;
    filter: drop-shadow(0 0 0px 10px black);
  }
}
